@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/************
GLOBAL STYLES
*************/
:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  /*main background*/
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  /*card background*/
  --soft-violet: hsl(277, 64%, 61%);
  /*accent*/
  --white: hsl(0, 0%, 100%);
  /*main heading, stats*/
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
  /*stat headings*/
  --slightly-transparent-white-2: hsla(0, 0%, 100%, 0.75);
  /*main paragraph*/
  --inter-font: "Inter", sans-serif;
  --lexend-font: "Lexend Deca", sans-serif; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%; }

/************
MOBILE LAYOUT
*************/
/*background styles*/
.container {
  background-color: var(--very-dark-blue);
  height: 100vh;
  width: 100%;
  /*mobile*/
  min-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center; }

/*card background styles*/
.card {
  background-color: var(--dark-desaturated-blue);
  width: 67.73%;
  height: 81.5vh;
  border-radius: 6px;
  position: relative; }

/*card image styles*/
.image {
  width: 100%;
  height: 30.6%;
  background-image: url("../images/image-header-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }
  .image::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(122, 47, 168, 0.5);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }

/*card content styles*/
.info {
  width: 100%;
  height: calc(100% - 30.6%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3.3rem 2.2rem; }

.heading,
.paragraph {
  text-align: center; }

.heading {
  color: var(--white);
  font-family: var(--inter-font);
  font-weight: 700;
  line-height: 2.5rem; }

.paragraph {
  color: var(--slightly-transparent-white);
  font-weight: 400;
  font-family: var(--lexend-font); }

.accent {
  color: var(--soft-violet);
  font-size: inherit; }

/*card call to action styles*/
.cta .heading {
  font-size: 2.2rem;
  margin-bottom: 1.2rem; }

.cta .paragraph {
  font-size: 1.2rem;
  line-height: 2rem; }

/*card statistics styles*/
.stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 165px; }
  .stat .heading {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem; }
  .stat .paragraph {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem; }

/************
TABLET LAYOUT
*************/
@media screen and (min-width: 768px) {
  /*card background styles*/
  .card {
    width: 65%;
    height: 52vh;
    display: flex;
    flex-direction: row-reverse; }
  /*card image styles*/
  .image {
    width: 48.5%;
    height: 100%;
    background-image: url("../images/image-header-desktop.jpg");
    border-top-left-radius: 0px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px; }
    .image::before {
      border-radius: inherit; }
  /*card content styles*/
  .info {
    position: relative;
    width: 51.5%;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 3rem 0 2.8rem; }
  .heading,
  .paragraph {
    text-align: initial; }
  /*card call to action styles*/
  .cta .heading {
    font-size: 2.2rem;
    margin-bottom: 1.6rem;
    line-height: 2.8rem; }
  .cta .paragraph {
    font-size: 1.1rem;
    line-height: 1.8rem; }
  /*card statistics styles*/
  .stat {
    height: initial;
    width: 90%;
    flex-direction: row;
    justify-content: space-between; }
    .stat .heading {
      font-size: 2rem;
      margin-bottom: 0.3rem; }
    .stat .paragraph {
      letter-spacing: 0rem; } }

/************
DESKTOP LAYOUT
*************/
@media screen and (min-width: 1366px) {
  /*card background styles*/
  .card {
    width: 68%;
    height: 56vh; }
  /*card content styles*/
  .info {
    padding: 0 10.9rem 0 6.8rem; }
  /*card call to action styles*/
  .cta .heading {
    font-size: 3.4rem;
    margin-bottom: 2.4rem;
    line-height: 4rem; }
  .cta .paragraph {
    font-size: 1.4rem;
    line-height: 2.4rem; }
  /*card statistics styles*/
  .stat .heading {
    font-size: 2.2rem;
    margin-bottom: 0.8rem; }
  .stat .paragraph {
    font-size: 1.1rem; } }

/************
ATTRIBUTION STYLES
*************/
.attribution {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  color: white;
  text-align: center; }

.attribution a {
  font-size: 1.5rem;
  color: white; }
